#thefile {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 93%;
    height: 98%;
}

audio {
    position: fixed;
    left: 81%;
    bottom: 1%;
}