#thefile {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
}

audio {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}